.App {
    text-align: center;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:10px;

  }
  
  .product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: aquamarine;
  }
  
  .product img {
    max-width: 100px;
    margin-right: 10px;
  }
  